*{margin: 0;padding: 0}
body{background-image: url(bg.jpg);background-size: cover;max-width: 100vw;height: 100vh;}
#swas{max-width: 67px;height: 139px;margin: 0 auto;display: block;position: relative;bottom: 80px;animation: mov 3s linear infinite;
animation-direction: alternate}
@keyframes mov{
    0%{transform: rotateY(50deg)}
                    100%{transform: rotateY(0deg)}
}
.contain{display: flex; max-width: 600px;flex-direction: row;justify-content: space-between;margin: 0 auto}
#patra{width:140px;height: 130px;border-radius: 0px 0px 120px 0px;border: none;font-size: 28px;font-family: 'Kalpurush', sans-serif;font-weight: bold;
background: url(pat.jpg);outline: none}
#patri{width:140px;height: 130px;border-radius: 0px 0px 0px 120px;border: none;font-size: 28px;font-family: 'Kalpurush', sans-serif;font-weight: bold;
background: url(pati.jpg);outline: none}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(by.jpg);outline: none; }
    .img-upper{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #1A4AFE}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(gl.jpg);outline: none; }
    .img-upper1{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;}
    .proja{text-align: center;font-size: 28px;color: #FDD600;font-family: 'Kalpurush', sans-serif;position: relative;bottom: 25px;
    background: url(proj.jpg);width: 250px;margin: 0 auto;border-radius: 0px 0px 50px 50px;padding: 7px;}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: white;
    font-family: 'Kalpurush', sans-serif; width: 170px;height:28px;margin: 0 auto;background-image: url(suv.jpg);border-radius: 23px;line-height: 32px}
    .nai{text-align: center;color: #A90018;font-family: 'Kalpurush', sans-serif;;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: url(dt.jpg);
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 0 auto;background-image: url(suv.jpg);border-radius: 23px;margin-top: 20px }
    .eg{text-align: center;color:#A90018;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 0 auto;background-image: url(suv.jpg);border-radius: 23px;line-height: 28px}
    .cu{text-align: center;color:#A90018;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;}    
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #A90018;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #A90018;font-size: 22px;}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #A90018;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 28px;border-radius: 16px;border: none;color: white;background: #00A71C;letter-spacing: 1.5px;font-weight: bold}